<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="silvana" connectionString="Server=GRANDVILLE\GRANDVILLE;Database=silvana;User Id=silvana;Password=silvana12345;"
      providerName="System.Data.SqlClient" />
    <add name="Restaurant_Silvana.Properties.Settings.silvanaConnectionString"
      connectionString="Data Source=GRANDVILLE\GRANDVILLE;Initial Catalog=silvana;Persist Security Info=True;User ID=silvana"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>